# Force LF for scripts/build files
*.sh           text eol=lf
Makefile       text eol=lf
*.py           text eol=lf
*.md           text eol=lf
*.yml          text eol=lf
*.yaml         text eol=lf

# Don’t touch tarballs, images, etc.
*.bz2          -text
*.zip          -text
*.png          -text
*.jpg          -text
*.gif          -text
*.pdf          -text
